{% extends "base.html" %}

{%block title%}Shop{%endblock%}

{% block content %}
<h1 class="text-center" >Shop</h1>
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <img src="/static/images/ggi-dog-shop.jpeg" class="card-img-top" alt="Dog">
      <div class="card-body">
        <h5 class="card-title">Dogs</h5>
        <p class="card-text">Find the perfect dog for your home.</p>
        <a href="#" class="btn btn-primary">Shop Dogs</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/static/images/ggi-cat-shop.jpeg" class="card-img-top" alt="Cat">
      <div class="card-body">
        <h5 class="card-title">Cats</h5>
        <p class="card-text">Browse our variety of cats.</p>
        <a href="#" class="btn btn-primary">Shop Cats</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
