{% extends "base.html" %}

{%block title%}Shop{%endblock%}

{% block content %}
<h1 class="text-center" >Shop</h1>
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <img src="/static/images/mine1.jpeg" class="card-img-top" alt="Book Store">
      <div class="card-body">
        <h5 class="card-title">Books</h5>
        <p class="card-text">Find the perfect book for you.</p>
        <a href="{{ url_for('books.book') }}" class="btn btn-primary">Shop Books</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="/static/images/author1.jpeg" class="card-img-top" alt="Authors">
      <div class="card-body">
        <h5 class="card-title">Authors</h5>
        <p class="card-text">Browse from your favorite author.</p>
        <a href="{{ url_for('books.author') }}" class="btn btn-primary btn-center">Shop from Authors</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
